<!DOCTYPE html>
<html>
<head>
	<title>Capture App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity=sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Capture</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/capture/<%=id%>/uploads">Home</a></li>
      <li><a href="/photos/new">New Post</a></li>
      <li><a href="/photos/all">All Posts</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
     <li><a href="/capture/<%=id%>/users">Users</a>
      <li class="active"><a href="#">Logged in as <%=un%> </a></li>
      <li><a href="/logout">Sign out</a></li>
    </ul>
  </div>
</nav> 