<% include ./partials/lheader %>

<div class="ui main text container segment">
    <div class="ui huge header">New Upload</div>
    <form class="ui form" action="/capture" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="photo[title]" placeholder="title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="photo[image]" placeholder="image">        
        </div>
        <input type="submit" class="ui purple basic button">
    </form>
</div>

<% include ./partials/footer %>